*{
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-size: 55px;
}

.blanco {
    color: white;
}

.amarillo {
    color: yellow;
}

#contenedor {
    display: flex;
    justify-content: left;
}

#contenedor .cuadros{
    background-color: red;
    height: 330px;
    width: 100%;
    margin: 7px;
}

#contenedor #negro {
    background-color: black;
}

.amarillo, .blanco {
    text-align: start;
}

